@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

body {
	font-family: "Figtree", system-ui, sans-serif;
	line-height: 1.5;
	background: var(--background);
}

/* Remove top and bottom spacing on headings and paragraphs */
h1, h2, h3, h4, h5, h6, p {
 margin-top: 0;
 margin-bottom: 0;
}


h1 {
	font-size: 2.2em;
}

h2 {
	font-size: 1.7em;
}

p {
	font-size: 17px;
	margin-top: 6px;
	margin-bottom: 6px;
}

article {
 height: auto;
 padding: 14px;
 background-color: #ffffff;
 border-radius: 10px;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 margin: 14px auto;
 transition: box-shadow 0.3s ease;
 margin-left: 5px;
 margin-right: 5px;
 background-image: url('https://images.unsplash.com/photo-1593642634367-d91a135587b5');
 background-size: cover;
 background-position: center;
}


article:hover {
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}